@font-face {
  font-family: "Dm-sans-regular";
  src: url("../assets/fonts/dm/dm-sans-v6-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/dm/dm-sans-v6-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dm-sans-medium";
  src: url("../assets/fonts/dm/dm-sans-v6-latin-500.woff2") format("woff2"),
    url("../assets/fonts/dm/dm-sans-v6-latin-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Dm-sans-bold";
  src: url("../assets/fonts/dm/dm-sans-v6-latin-700.woff2") format("woff2"),
    url("../assets/fonts/dm/dm-sans-v6-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "inter-light";
  src: url("../assets/fonts/inter/inter-v3-latin-300.woff2") format("woff2"),
    url("../assets/fonts/inter/inter-v3-latin-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "inter-medium";
  src: url("../assets/fonts/inter/inter-v3-latin-500.woff2") format("woff2"),
    url("../assets/fonts/inter/inter-v3-latin-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
