@import "fonts.scss";
/*--------------------------*/
// Colors
/*--------------------------*/
$color-bitcoin-orange: #f7931a;
$color-soft-orange: #ffe9d5;
$color-secondary-blue: #1a9af7;
$color-soft-blue: #e7f5ff;
$color-warm-black: #201e1c;
$color-black: #282623;
$color-grey: #bababa;
$color-off-white: #faf8f7;
$color-just-white: #fff;
/*--------------------------*/
// Fonts
/*--------------------------*/
$font-dm-regular: "Dm-sans-regular";
$font-dm-medium: "Dm-sans-medium";
$font-dm-bold: "Dm-sans-bold";
$font-inter-light: "inter-light";
$font-inter-medium: "inter-medium";
